
<div id="searchBox">
<button class="randomBtn" onclick="window.location.href = '/drinks/random'">Get Drink!</button>
<form action="/drinks/search" method="post" class="searchTerm">
  Search for a cocktail:
    <input type="text" name="search"  placeholder="search by any ingredient">
</form>
</div>