<header >
    <nav>
        <h3 onclick="window.location.href = 'users/home'">log in here</h3>
    </nav>
</header>

<div id="pageTitle" onclick="window.location.href = '/drinks'">
    <h1>The Buzz</h1>
    <p>Delivering a buzz, one cocktail at a time.</p>
</div><span class="cocktailSpan"style="font-size:50px">&#127864;</span>



{{!-- 
<div>
   <button class="randomBtn" onclick="window.location.href = '/drinks/random'">click here for a random drink</button><br><br>
<form action="/drinks/search" method="post">
    Search by Ingredient:<br>
    <input type="text" name="search" class="searchTerm" placeholder="i.e vodka, tequila, bananas">
</form>
</div>
<br> --}}
            
   