 <h2>Login</h2>

    <form action="/users/login" method="post">
        <label for="email-login">email:</label>
        <input class="form-input" type="text" name="email" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" name="password" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
  </div>

          
           

<script src="/js/login.js"